# hostname (and path) to the root eg. https://appernetic.github.io/
baseurl = "https://www.harlan.harris.name/"

#copyright = '<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>'
#copyright = "This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License"
title = "Harlan D. Harris" # Site title
#topline = "Somethink to Chew On"

[pagination]
pagerSize = 10
path = "page"
theme = "hugo-clarity"
DefaultContentLanguage = "en"

ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "_cache$"]

# Frontmatter format
# "yaml", "toml", "json"
metaDataFormat = "toml"

ignoreErrors = ["error-remote-getjson"]

[permalinks]
post = "/:year/:month/:slug/"
code = "/:contentbasename/"

[taxonomies]
tag = "tags"
category = "categories"

[author]
name = "Harlan Harris"
email = "harlan@harris.name"

[outputs]
home = ["HTML", "RSS", "JSON"]

#
# All parameters below here are optional and can be mixed and matched.
#

[params]

enforceLightMode = true

# enable search
enableSearch = true

numberOfTagsShown = 14

switchlang = false

enableEmoji = true

enableMathNotation = true

# Show a sidebar menu
showRightSidebar = true

# sets the maximum number of lines per codeblock. The codeblock will however be scrollable and expandable.
codeMaxLines = 7

# disable showing line numbers by default. Switch to `true` if you'd rather have them on.
codeLineNumbers = false

# Select a syntax highlight.
# Check the static/css/highlight directory for options.
highlight = "default"

# Google Analytics.
googleAnalytics = "UA-21404703-1"

# Sidebar social links.
github = "HarlanH" # Your Github profile ID
bitbucket = "" # Your Bitbucket profile ID
linkedin = "harlanharris" # Your LinkedIn profile ID (from public URL)
googleplus = "" # Your Google+ profile ID
facebook = "" # Your Facebook profile ID
twitter = "" # Your Twitter profile ID
youtube = ""  # Your Youtube channel ID
flattr = ""  # populate with your flattr uid

logo = ""
footerLogo = "icons/copy.svg"

since = 2009

#[blackfriday]
#angledQuotes = true
#fractions = false
#hrefTargetBlank = false
#latexDashes = true
#plainIdAnchors = true
#extensions = []
#extensionmask = []

[[menu.main]]
    name = "Medium"
    url = "https://medium.com/@HarlanH"
    weight = 4
    
[[menu.social]]
  name = "github"
  type = "social"
  weight = 4
  url = "https://github.com/HarlanH"
[[menu.social]]
    name = "LinkedIn"
    url = "https://www.linkedin.com/in/harlanharris/"
    weight = 4

[[menu.social]]
    name = "stackoverflow"
    url = "https://stackoverflow.com/users/135944/harlan"
    weight = 4


[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true # change to false to disable inclusion of rawHTML and math functions
      xhtml = false
    [markup.goldmark.extensions]
      typographer = false

  [markup.highlight]
    codeFences = true
    guessSyntax = true
    hl_Lines = "--"
    lineNoStart = 1
    lineNos = true # always set to true # else line numbers won't show at all! even when you toggle them on in the UI
    lineNumbersInTable = false # toggling this on (i.e to true) or deleting this line will break the code blocks functionality. Will
    noClasses = false
    # style = "monokai"
    tabWidth = 2
